<a href="https://colab.research.google.com/github/PavelSeleznyov/project_01/blob/main/Samost_Students_table_Pavel_Seleznyov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Создание таблицы Students
import sqlite3

connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """CREATE TABLE Students 
(Student_Id INTEGER NOT NULL PRIMARY KEY, 
Student_Name TEXT NOT NULL, 
School_Id INTEGER NOT NULL);"""
cursor.execute(query)
connection.commit()
connection.close()

In [6]:
# Создание таблицы School
import sqlite3
connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """  CREATE TABLE School
(School_Id INTEGER NOT NULL PRIMARY KEY,
School_Name TEXT NOT NULL,
Place_Count INTEGER NOT NULL); """
cursor.execute(query)
connection.commit()
connection.close()

In [7]:
# Наполнение таблицы Students
import sqlite3
connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """INSERT INTO Students (Student_Id, Student_Name, School_Id) 
VALUES 
('201', 'Иван', '1'), 
('202', 'Петр', '2'), 
('203', 'Анастасия', '3'), 
('204', 'Игорь', '4');"""
cursor.execute(query)
connection.commit()
connection.close()

In [8]:
# Наполнение таблицы School
import sqlite3
connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """INSERT INTO School (School_Id , School_Name , Place_Count)
VALUES  
('1', 'Протон', 200),
('2', 'Преспектива', 300),
('3', 'Спектр', 400),
('4', 'Содружество', 500); """
cursor.execute(query)
connection.commit()
connection.close()

In [12]:
# Вывод информации о школе и студенте по Student_ID
import sqlite3

def get_connection():
  connection = sqlite3.connect('teatchers.db')
  return connection

def close_connection(connection):
  if connection:
    connection.close()

def get_student_detail(student_id):
  try:
    connection = get_connection()
    cursor = connection.cursor()
    select_query = """SELECT Student_id, Student_Name, Students.School_id, School.School_Name FROM Students
       JOIN School ON Students.School_id = school.School_id WHERE Student_Id = ?;"""
    cursor.execute(select_query, (student_id,))
    records = cursor.fetchall()
    print ("Данные по Студентам")
    for row in records:
      print ("ID Студента", row[0])
      print ("Имя Студента", row[1])
      print ("ID Школы", row[2])
      print ("Название Школы", row[3])
    close_connection(connection)
  except (Exception, sqlite3.Error) as error:
    print ("Ошибка в получении данных по школе ", error)

print ("Самостоятельная работа - Вывод информации о школе и студенте по Student_ID")
get_student_detail(201)
get_student_detail(202)
get_student_detail(203)
get_student_detail(204)

Самостоятельная работа - Вывод информации о школе и студенте по Student_ID
Данные по Студентам
ID Студента 201
Имя Студента Иван
ID Школы 1
Название Школы Протон
Данные по Студентам
ID Студента 202
Имя Студента Петр
ID Школы 2
Название Школы Преспектива
Данные по Студентам
ID Студента 203
Имя Студента Анастасия
ID Школы 3
Название Школы Спектр
Данные по Студентам
ID Студента 204
Имя Студента Игорь
ID Школы 4
Название Школы Содружество