<a href="https://colab.research.google.com/github/PavelSeleznyov/project_01/blob/main/Samost_Students_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Создание таблицы Students
import sqlite3

connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """CREATE TABLE Students 
( 
  Student_Id INTEGER NOT NULL PRIMARY KEY, 
  Student_Name TEXT NOT NULL, 
  School_Id INTEGER NOT NULL 
);
"""
cursor.execute(query)
connection.commit()
connection.close()

In [2]:
# Наполнение таблицы Students
import sqlite3

connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()
query = """INSERT INTO Students (Student_Id, Student_Name, School_Id) 
VALUES 
('201', 'Иван', '1'), 
('202', 'Петр', '2'), 
('203', 'Анастасия', '3'), 
('204', 'Игорь', '4');
"""
cursor.execute(query)
connection.commit()
connection.close()

In [3]:
# Вывод информации о школе и студенте по Student_ID
import sqlite3

def get_connection():
  connection = sqlite3.connect('teatchers.db')
  return connection

def close_connection(connection):
  if connection:
    connection.close()

def get_student_detail(student_id):
  try:
    connection = get_connection()
    cursor = connection.cursor()
    select_query = """SELECT * FROM Students WHERE School_Id = ?"""
    cursor.execute(select_query, (student_id,))
    records = cursor.fetchall()
    print ("Данные по Студентам")
    for row in records:
      print ("ID Студента", row[0])
      print ("Имя Студента", row[1])
      print ("ID Школы", row[2])
    close_connection(connection)
  except (Exception, sqlite3.Error) as error:
    print ("Ошибка в получении данных по школе ", error)

print ("Самостоятельная работа - Вывод информации о школе и студенте по Student_ID")
get_student_detail(1)

Самостоятельная работа - Вывод информации о школе и студенте по Student_ID
Данные по Студентам
ID Студента 201
Имя Студента Иван
ID Школы 1